{% load markup %}
<h3><a href="{% url unread_news %}" ><i class="icon-inbox"></i>Latest News</a></h3>

{% for news in news_list %}
    <div class="news">
        <h5>{% if news.required %}<span class="label label-important">Important</span>{% endif %} <a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h5>
        <div class="author">
            <small>{{ news.date|date:'d.m.Y H:i' }}</small><br><strong><i class="icon-user"></i> Author:</strong> {{ news.author }} </div>
        <a class="readnews"  href="{{ news.get_absolute_url }}">Read more</a>
    </div>
{% empty %}
    <h2>You all read now..</h2>
    <a href="{% url archive_news %}" class="btn">See news archive</a>
{% endfor %}
