/* Merge Master */

#merge td.action-list {
    padding: 0;
    border-top: none;
}

#merge .actions-container {
    padding: 10px;
    margin: 10px auto 50px;
    width: 96%;
    box-shadow: 0 0 15px #888;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
}

#merge .table-actions {
    margin: 0;
}

#merge form ul {
    margin: 0;
}

#merge form ul li {
    list-style: none;
}

#merge form ul li input {
    margin-top: 0;
}

#merge .add-action-form {
    margin: 0;
}

#merge td.action-comment-list {
    padding: 0;
    border-top: none;
}

#merge .comments-container {
    padding-left: 20px;
    margin: 10px 0 20px 50px;
    border-left: 3px solid #E3E3E3;
}

#merge .comment {
    padding-top: 5px;
    padding-bottom: 5px;
}

#merge .comment-form {
    margin: 0;
}

#merge .comment-gravatar {
    float: left;
    margin-right: 20px;
}

#merge .comment-content {
    float: left;
    width: 700px;
}

#merge .comment-info {
    font-size: .8em;
    color: #888;
}

#merge .comment-area {
    width: 700px;
    height: 100px;
    display: block;
}

#merge .ajax-loader {
    height: 21px;
    background:url(../img/nyancat.gif) no-repeat center center;
}

#merge .btn-view-diff {
    float: right;
}

#diff div.moved {
    font-size: .8em;
    margin-left: 18px;
}

#diff h5.moved {
    margin-left: 20px;
}

#diff .diff-file-header {
    position: relative;
}

#diff .diff-file-header h4 {
    margin-top: 25px;
}

#diff .diff-file-header h4 [class^="icon-"] {
    margin-top: 5px;
}

#diff .anchor {
    position: relative;
    top: -20px;
}

#diff .back-to-top {
    position: absolute;
    right: 0;
    bottom: 0;
}

#diff table.code {
    font: 12px 'Courier';
    width: 100%;
}

#diff table.code th {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #777;
    padding-right: 5px;
    text-align: right;
    width: 20px;
}

#diff table.code td {
    white-space: pre;
    border-left: solid 1px #ccc;
    padding-left: 5px;
}

#diff table.code tr.end-hunk {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

#diff table.code tr.end-hunk td {
    border-left: none;
}

#diff table.code .added {
    background: #afa;
}

#diff table.code .removed {
    background: #ffd0d0;
}

.row-ul ul li{
    display: block;
    float: left;
    width: 50%;
  }