/* Merge Master */

#merge td.action-list {
    padding: 0;
    border-top: none;
}

#merge .actions-container {
    padding: 10px;
    margin: 10px auto 50px;
    width: 96%;
    box-shadow: 0 0 15px #888;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
}

#merge .table-actions {
    margin: 0;
}

#merge form ul {
    margin: 0;
}

#merge form ul li {
    list-style: none;
}

#merge form ul li input {
    margin-top: 0;
}

#merge .add-action-form {
    margin: 0;
}

#merge td.action-comment-list {
    padding: 0;
    border-top: none;
}

#merge .comments-container {
    padding-left: 20px;
    margin: 10px 0 20px 50px;
    border-left: 3px solid #E3E3E3;
}

#merge .comment {
    padding-top: 5px;
    padding-bottom: 5px;
}

#merge .comment-form {
    margin: 0;
}

#merge .comment-gravatar {
    float: left;
    margin-right: 20px;
}

#merge .comment-content {
    float: left;
    width: 700px;
}

#merge .comment-info {
    font-size: .8em;
    color: #888;
}

#merge .comment-area {
    width: 700px;
    height: 100px;
    display: block;
}

#merge .ajax-loader {
    height: 20px;
    background:url(../img/nyancat.gif) no-repeat center center;
}