html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: white;
}

a {
    cursor: pointer;
}

.vertical-middle {
    margin-top: 100px;
}

/* Garbage Collector */

.step {
    height: 100%;
    display: none;
}

.step.step-hello {
    display: block;
}

.step.step-hello .btn-start {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    height: 100px;
    font-size: 30px;
}

.step.step-online-progress .message-progress {
    background: url('../img/load.gif') no-repeat top left;
    padding-left: 90px;
    height: 68px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 411px;
    line-height: 70px;
    font-size: 30px;
}

.step.step-online-list .header {
    margin-bottom: 25px;
}

.step.step-online-list .list {
    width: 49%;
    float: left;
    text-align: center;
    cursor: pointer;
}

.step.step-online-list .list .item {
    font-size: 28px;
    height: 30px;
    margin-top: 20px;
}

.step.step-online-list .list.list-offline .item {
    color: #AAA;
}

.step.step-online-list .btn-gambling {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    height: 100px;
    font-size: 30px;
}

.step.step-gambling {

    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 100px;
}

.step.step-gambling .scene {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(-700px);
}

.step.step-gambling .roulette {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 180px;
    height: 180px;
    -webkit-animation: spin 10s 1 cubic-bezier(.25, 1, .8, 1);
    -webkit-transform-style: preserve-3d;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotateY(0); }
  to   { -webkit-transform: rotateY(-2880deg); }
}

.step.step-gambling .roulette .item {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: solid 2px #890aff;
    background: #e2cff3;
    text-align: center;
    font-size: 30px;
    position: absolute;
    line-height: 35px;
    display: table;

}

.step.step-gambling .roulette .item p {
    display: table-cell;
    vertical-align: middle;
}

/* Merge Master */

#merge td.action-list {
    padding: 0;
    border-top: none;
}

#merge .actions-container {
    padding: 10px;
    margin: 10px auto 50px;
    width: 96%;
    box-shadow: 0 0 15px #888;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
}

#merge .table-actions {
    margin: 0;
}

#merge form ul {
    margin: 0;
}

#merge form ul li {
    list-style: none;
}

#merge form ul li input {
    margin-top: 0;
}

#merge .add-action-form {
    margin: 0;
}

#merge td.action-comment-list {
    padding: 0;
    border-top: none;
}

#merge .comments-container {
    padding-left: 20px;
    margin: 10px 0 20px 50px;
    border-left: 3px solid #E3E3E3;
}

#merge .comment {
    padding-top: 5px;
    padding-bottom: 5px;
}

#merge .comment-form {
    margin: 0;
}

#merge .comment-gravatar {
    float: left;
    margin-right: 20px;
}

#merge .comment-content {
    float: left;
    width: 700px;
}

#merge .comment-info {
    font-size: .8em;
    color: #888;
}

#merge .comment-area {
    width: 700px;
    height: 100px;
    display: block;
}

/*merge master request*/

#chat {
    width: 100%;
    height: 200px;
    overflow: auto;
}

#chat .text {
    margin-left: 30px;
}

#chat .user {
    font-weight: bold;
    text-decoration: underline;
}

.chat #id_message {
    width: 100%;
}

.panel {
    margin-bottom: 30px;
}

.angel, .devil {
    background: url('/static/img/angel-devil.jpg');
    background-size: 250px;
    width: 125px;
    height: 250px;
    float: left;
}

.angel {
    background-position: 125px 0;
}

.dev {
    float: left;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    margin-top: 120px;
    text-align: center;
}

.dev .blue {
    background: #9ce3f5;
    height: 20px;
    float: left;
    border-radius: 10px 0 0 10px;
}

.dev .red {
    height: 20px;
    float: left;
    background: #a10c07;
    border-radius: 0 10px 10px 0;
    color: #ffffff;
}

.messagebox {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* gc rooms and seats */

.room{
    position: relative;
    border: 1px solid #dcdcdc;
    margin: 5px;
    float: left;
}
.seat{
    position: absolute;
    text-align: center;
  /*  background: #0875b7;
    border: 1px solid #8a2be2;*/
}
/*   seat style use in django admin */
.seat.long{
    width: 40px;
    height: 25px;
    margin: -1px;
}
.seat.width{
    width: 25px;
    height: 40px;
    margin: -1px;
}
.seat.circle{
    width: 20px;
    height: 20px;
    margin: -1px;
    border-radius: 20px;
}
