{% extends 'base.html' %}
{% load markup %}
{% load comments %}
{% load gravatar %}

{% block title %}
    {{ news.title }}
{% endblock %}
{% block content %}
    {{ request }}
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="{% url unread_news %}">Unread News</a> <span class="divider">/</span></li>
        <li class="active">{{ news.title }}</li>
    </ul>
    <div class="news">
        <h1>{% if news.required %}<span class="label label-important">Important</span>{% endif %} {{ news.title }}</h1>

        <div class="author">
            <small>{{ news.date|date:'d.m.Y H:i' }}</small>
            <br><strong><i class="icon-user"></i> Author:</strong> {{ news.author }}
            {% if news.author == user %}
                <a href="{{ news.get_edit_url }}" class="btn btn-primary btn-small"><i
                        class="icon-pencil icon-white"></i></a>
            {% endif %}
        </div>

        <div class="text">
            {{ news.text|markdown:"safe" }}
        </div>
        {% if news.required %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="readnews btn btn-success" value="I Read it"><i
                    class="icon-ok icon-white"></i>
            </form>
        {% endif %}
    </div>
    <div>
    <blockquote>
        <div class="readuser">
            {% for user in news.get_read_user %}
                {% if forloop.first %}
                    <strong>Who read:</strong>
                {% endif %}
                {% if user.user.first_name == '' and user.user.last_name == '' %}
                    {{ user.user.username }}
                {% else %}
                    {{ user.user.first_name }} {{ user.user.last_name }}
                {% endif %}
                {% if not forloop.last %}
                    ,
                {% endif %}
            {% empty %}

            {% endfor %}

        </div>
    </blockquote>
    </div>
    <hr>
    <div class="comments-list">
        {% get_comment_count for importantnews.news news.id as comment_count %}
        {% get_comment_list for importantnews.news news.id as comment_list %}
        {% for comment in comment_list %}
            <div class="comment well-small">
                <div class="row well">
                    <div class="span3">
                        <img src="{% gravatar_for_user comment.user 25 %}" class="img-rounded"> <strong>{{ comment.user.email }}</strong>
                    </div>
                    <div class="span8 ">
                        {{ comment.comment|markdown:"safe" }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
    {% get_comment_form for importantnews.news news.id as form %}

        <form action="{% comment_form_target %}" method="post" class="span12">
            <textarea id="id_comment" rows="5" name="comment" style="
    width: 100%;
"></textarea>
            <br>
             <input type="submit" name="submit" value="Post new comment" class="btn btn-large btn-primary">

            {% csrf_token %}

            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            {{ form.content_type }}
            <input type="hidden" name="next" value="/news/{{ news.id }}/" />

        </form>
    </div>
{% endblock %}