{% extends 'base.html' %}

{% block title %}
Bug list
{% endblock %}
{% block script %}
    <script src="/static/js/buglist.js"></script>
{% endblock %}
{% block content %}
    <div class="alert" id="alert-message" style="display: none;">
        <button type="button" class="close">&times;</button>
        <span class="content"></span>
    </div>
    <div class="btn-group" id="js-data" data-user-id="{{ user.id }}" data-csrf='{{ csrf_token }}'>
        <button class="btn nav-buttons btn-primary"  id="my-work" data-toggle="button"><span class="icon-user icon-white"></span> My work</button>
        <button class="btn nav-buttons"  id="my-bugs" data-toggle="button"><span class="icon-user"></span> I owner</button>
        <button class="btn nav-buttons"  id="resolved" data-toggle="button"><span class="icon-list-alt"></span> Show resolved bugs</button>

    </div>

    <table class="table table-striped">
       <thead>
       <tr>
           <th>#</th>
           <th>Date(add/change)</th>
           <th>Status</th>
           <th>priority</th>
           <th style="width: 200px;">desc</th>
           <th>owner</th>
           <th>requester</th>
       </tr>
       </thead>
    <tbody id="bug-table">
        {% include 'buglist/table-content.html' %}

    </tbody>
    </table>

{% endblock %}