{% extends 'base.html' %}

{% block title %}
Bug list
{% endblock %}
{% block content %}
    <table class="table table-striped">
       <thead>
       <tr>
           <th>#</th>
           <th>Date(add/change)</th>
           <th>Status</th>
           <th>priority</th>
           <th>url</th>
           <th>desc</th>
           <th>owner</th>
           <th>requester</th>
       </tr>
       </thead>
    <tbody>
    {% for bug in bug_list %}
        <tr>
            <td><a href="{{ bug.get_absolute_url }}">{{ bug.id }}</a></td>
            <td>{{ bug.date_add|date:'d.m.Y H:s' }} / {{ bug.date_change|date:'d.m.Y H:s' }}</td>
            <td>
            {% if bug.status %}
                <span class="label label-success">Close</span>
            {% else %}
                <span class="label label-important">Open</span>
            {% endif %}
            </td>
            <td>{{ bug.priority }}</td>
            <td><a href="{{ bug.url }}" target="_blank">{{ bug.url }}</a></td>
            <td><a href="{{ bug.get_absolute_url }}">{{ bug.desc }}</a></td>
            <td>{{ bug.owner.get_full_name }}</td>
            <td>{{ bug.requester.get_full_name }}</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>

{% endblock %}