<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    {% block head %}
        
    {% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/jqueryui/js/jquery-ui-1.8.22.custom.min.js"></script>
    {% block script %}

    {% endblock %}
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand visible-desktop" href="/">RenderedSource</a>
                <ul class="nav pull-left">
                    <li><a href="/merge/"> <i class="icon-random"></i> Merge Tools</a></li>
                    <li><a href="/gc/"> <i class="icon-trash"></i> Garbage Collector</a></li>
                    <li><a href="/news/"> <i class="icon-list-alt"></i> News</a></li>
                    <li><a href="/sprints/"> <i class="icon-calendar"></i> Sprints</a></li>
                    <li><a href="/knowledge/"> <i class="icon-question-sign"></i> Knowledge base</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% block top_menu %}

                    {% endblock %}
                    <li><a href="/logout/"><i class="icon-off"></i> Logout</a></li>
                </ul>

        </div>
    </div>
</div>

<div class="container">
{% load newstags %}
{% unread_news user.id %}
    {% block content %}

    {% endblock %}
     <footer>
        <p>&copy; Company 2012</p>
    </footer>
{% block footer %}

{% endblock %}
</div> <!-- /container -->
</body>
</html>
