{% extends 'base.html' %}

{% block title %}
RenderedSource HappyTeam
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6 well">
            {% load newstags %}
            {% latest_news 5 %}
        </div>
        <div class="span6 well">
            {% load usertags %}
            {% online_users 5 %}
        </div>
        <div class="span6 well">
            {% load lastloosers %}
            {% last_loosers %}
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}