{% extends 'base.html' %}

{% block title %}
RenderedSource HappyTeam
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <div class="well">
                {% load newstags %}
                {% latest_news 5 %}
            </div>
        </div>
        <div class="span6">
            <div class="well">
                {% load newstags %}
                {% last_comments 5 %}
            </div>
            <div class="well">
                {% load lastloosers %}
                {% last_loosers %}
            </div>
            <div class="well">
                {% load officeposition %}
                {% who_in_office %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}