{% extends 'base.html' %}

{% block title %}
    Diff {{ from_branch }} -> {{ to_branch }}
{% endblock %}

{% block content %}
    <div id="diff" class="container-fluid">
        <div class="row-fluid">
            <h2>{{ from_branch }} -> {{ to_branch }}</h2>
        </div>
        <div class="row-fluid">
            <h4>Changed files:</h4>
            {% for diff in diffs %}
                <div>
                    <i class="{{ diff.action_icon_class }}"></i>
                    {% if diff.binary %}
                        {{ diff.new_file }}
                    {% else %}
                        <a href="#{{ diff.new_file|urlencode }}">{{ diff.new_file }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row-fluid">
            {% for diff in diffs %}
                {% if not diff.binary %}
                <div class="anchor" id="{{ diff.new_file|urlencode }}"></div>
                <div class="diff-file-header">
                    <a class="back-to-top" href="#">
                        Back to top
                        <i class="icon-arrow-up"></i>
                    </a>
                    <h4 class="title-filename">
                        <i class="{{ diff.action_icon_class }}"></i>
                        {% if diff.old_file != diff.new_file %}
                            {{ diff.old_file }}<i class="icon-arrow-right"></i>{{ diff.new_file }}
                        {% else %}
                            {{ diff.new_file }}
                        {% endif %}
                    </h4>
                </div>
                <table class="code">
                    {% for hunk in diff.hunks %}
                        {% for line in hunk %}
                            <tr class="{{ line.css_class }}">
                                <th>{{ line.line_a }}</th>
                                <th>{{ line.line_b }}</th>
                                <td>{{ line.text }}</td>
                            </tr>
                        {% endfor %}
                        {% if not forloop.last %}
                            <tr class="end-hunk">
                                <th></th>
                                <th></th>
                                <td>&nbsp;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block head %}
    <link href="/static/css/merge.css" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="/static/js/merge.js"></script>
{% endblock %}