{% extends 'base.html' %}

{% block title %}
    Merge list
{% endblock %}

{% block content %}
    <div id="merge" class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="row-fluid">
            <div class="span6 well leftpanel">
                {% if request_form %}
                    <legend>Add new merge request</legend>
                    <button class="btn" id="fetch" data-loading-text="Loading..."><span class="icon-refresh"></span></button>

                    <form action="add-merge-request/" method="post" class="form-horizontal">
                        {% load bootstrap %}
                        {{ request_form|bootstrap }}
                        {% csrf_token %}
                        <button class="btn btn-primary btn-merge-request">Add</button>
                    </form>
                {% else %}
                    <h2>Success add new branch</h2>
                {% endif %}
            </div>
            <div class="span6 well">
                <form action="" id="form-filter">
                    <div class="accordion" id="accordion3">

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne">
                                    <strong>Filter by merge group</strong>
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    {{ filter_form.merge_group }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo">
                                    <strong>Filter by users:</strong>
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    {{ filter_form.user }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                                    <strong>Filter by merge status</strong>
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    {{ filter_form.include }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="btn-group">
                    <button class="btn" id="refresh"><span class="icon-refresh"></span> Refresh</button>
                    <button class="btn" id="clear-filters"><span class="icon-filter"></span> Clear filters</button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" id="mergelist-container">
                {% include 'mergemaster/list.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block head %}
    <link href="/static/css/merge.css" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="/static/js/merge.js"></script>
{% endblock %}