{% spaceless %}
{% if merge %}

    <div style="text-align: center">
        <a data-toggle="collapse" data-target="#action-list-add-{{ merge.id }}">Update request status</a>
    </div>
    <div id="action-list-add-{{ merge.id }}" class="collapse">
        <div class="well well-small">
            <form class="form-horizontal" method="post" action="add_merge_action/">
                {% load bootstrap %}
                {{ action_form|bootstrap }}
                {% csrf_token %}
                <input type="hidden" name="merge_request" value="{{ merge.id }}" />
                <input type="submit" class="btn" title="Add" />
            </form>
        </div>
    </div>

    <table class="table table-striped table-condensed">
        {% for action in merge.mergerequestaction_set.all %}
        <tr class="error">
            <td>{{ action.merge_master }}</td>
            <td>{{ action.status }} {{ action.reason }}</td>
            <td>Date</td>
        </tr>
        {% empty %}
        <tr class="info">
            <td colspan="3">No actions yet</td>
        </tr>
        {% endfor %}
    </table>

{% comment %}

<div class="btn-group">
    {% if merge_master and merge.status == 'open' and merge.developer.id != user.id %}
        <a href="{{ merge.get_apply_url }}" class="btn btn-success">Start Review</a>
    {% endif %}
    {% if merge_master and merge.status == 'review' and merge.merge_master.user.id == user.id %}
        <a href="{{ merge.get_cancel_url }}" class="btn">Cancel</a>
        <a href="{{ merge.get_approve_url }}" class="btn btn-primary">Approve</a>
        <a href="{{ merge.get_reject_url }}" class="btn btn-warning">Reject</a>
    {% endif %}
    {% if  merge.status == 'reject'%}
        <a href="{{ merge.get_discus_url }}" class="btn btn-info">Discussion</a>
    {% endif %}
    {% if merge_master == merge.merge_master and merge.status == 'reject'%}
        <a href="{{ merge.get_approve_url }}" class="btn btn-primary">Approve</a>
    {% endif %}
    {% if merge.developer.username == user.username or merge_master %}
        <a href="{{ merge.get_delete_url }}" class="btn btn-danger">Delete</a>
    {% endif %}
</div>

{% endcomment %}

{% endif %}
{% endspaceless %}
