{% if merge %}

{% load gravatar %}

<td class="span1">{{ merge.id }}</td>
<td class="span3 merge-status">
    <span class="label {{ merge.merge_status_label_class }}">{{ merge.merge_status_value }}</span>
    {% if merge.show_cr_qa_labels %}
    <span class="label {{ merge.qa_status_label_class }}">QA {{ merge.qa_status_value }}</span>
    <span class="label {{ merge.cr_status_label_class }}">CR {{ merge.cr_status_value }}</span>
    {% endif %}
</td>
<td class="span2">
    {% gravatar_img_for_user merge.developer 20 %}
    {{ merge.developer }}
</td>
<td class="span4">
    <code>{{ merge.branch }}</code>
    <i class="icon-arrow-right"></i>
    <code>{{ merge.merge_group.main_branch }}</code>
</td>
<td class="span1">
    {% if merge.task_id %}
    <a target="_blank" href="https://www.pivotaltracker.com/story/show/{{ merge.task_id }}">{{ merge.task_id }}</a>
    {% endif %}
</td>
<td class="span1" style="text-align: center;">
    <button class="btn btn-link btn-toggle-actions badge" data-merge-id="{{ merge.id }}">
        {{ merge.mergerequestaction_set.count }} action{{ merge.mergerequestaction_set.count|pluralize:",s" }}
    </button>
</td>

{% endif %}
